.grid-container {
  margin: 20px;
}

.main-card {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  object-fit: contain;
  height: 95%;
  width: 95%;
  margin: 0 auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.resultSet {
  cursor: pointer;
}

.main-card-content {
}
