<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="10"
    [ngClass]="{ currentNode: node.current }"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <a
      routerLink=""
      class="btn"
      *ngIf="node.url"
      (click)="router.navigate([node.url])"
    >
      {{ node.name }}
    </a>
    <span *ngIf="!node.url">{{ node.name }}</span>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="10"
    [ngClass]="{ currentNode: node.current }"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <a
      routerLink=""
      class="btn"
      *ngIf="node.url"
      (click)="router.navigate([node.url])"
    >
      {{ node.name }}
    </a>
    <span *ngIf="!node.url">{{ node.name }}</span>
  </mat-tree-node>
</mat-tree>
